.flexContainer{
    border: 1px solid red;
    display: flex;
    height: 90vh;
    /* justify-content: center;
    align-items: center; 
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;*/
}

/* wrap values: nowrap, wrap, wrap - reverse */
/* Values of justify content flex-start, center, space-around, space-between, space-evenly */

.flexItem{
    background-color: yellow;
    border: 2px solid red;
    color: red;
    font-size: 24px;
    height: 100px;
    width: 80px;
}

.flexItem:nth-child(1){
    order: 1;
    align-self: center;
}

.flexItem:nth-child(6) {
    order: -1;
    align-self: flex-end;
}