.gridContainer{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px;
       grid-template-rows: 100px 100px; */
    /* grid-template-colums: 200px 200px 200px 200px; */
    /* grid-template-columns: 100px repeat(4, 200px); */
    grid-template-columns: repeat(4, 100px);
    /* grid-template-rows: 100px 100px; */
    /* row-gap:10px; */
    /* column-gap:10px; */
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    /* align-content: center; */
}

.item {
    color: red;
    border: 1px solid;
    background-color: yellow;
    /* padding: 30px 40px; */
}

.item:nth-child(1){
    /* grid-column-start: 3;
    grid-column-end: -1; */
    grid-column: 3/-1;
    /* grid-row-start: 2;
    grid-row-end: 3; */
    grid-row: 2/3;
}

.item:nth-child(8){
    grid-column: 3/4;
    grid-row: 1/2;
}

header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
}

nav{
    grid-area: navbar;
    background-color: green;
    color: yellow;
    border: 1px solid black;
}

main{
    grid-area: main;
    background-color: yellow;
    color: red;
    border: 1px solid black;
}

aside{
    grid-area: aside;
    background-color: blue;
    color: white;
    border: 1px solid black;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "navbar main aside" "footer footer footer";
    grid-area: "body";
}

footer{
    grid-area: footer;
    background-color: green;
    color: yellow;
    border: 1px solid black;
    padding: 10px;
}