.home 
{
    width: 90%;
    margin: 30px auto;
}

.section-title 
{
    margin-bottom: 30px;
    padding-left: 15px;
    border-left: 5px solid red;
}

.series-grid 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 25px;
    border: 3px solid red;
    border-radius: 5px;
}

.series-card 
{
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(66, 66, 66);
}

.series-card img 
{
    width: 100%;
    height: 100%;
}

.series-card h3 
{
    text-align: center;
}

.clear-btn
{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #555;
    cursor: pointer;
}

.clear-btn:hover
{
    background-color: red;
}

.watchlist
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.title-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty
{
    text-align: center;
    margin-top: 50px; 
    color: #666;
}