.series 
{
    width: 90%;
    margin: 30px auto;
}

.gridContainer img 
{
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.content-container 
{
    display: flex;
    gap: 40px; 
}

.series-card1 
{
    width: 300px; 
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 66);
}

.series-card1 img 
{
    width: 100%;
    height: 100%;
}

.series-details 
{
    flex: 1; 
}

.series-details h1 
{
    margin-top: 0;
    margin-bottom: 10px;
}

.meta-data 
{
    margin-bottom: 15px;
}

.genres-list 
{
    margin-bottom: 20px;
}

.genre-badge 
{
    display: inline-block;
    background-color: rgb(41, 41, 41);
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid gray;
}

.series-details h2 
{
    margin-bottom: 10px;
    border-bottom: 2px solid red; 
    display: inline-block;
    padding-bottom: 5px;
}

.series-details p 
{
    line-height: 1.6;
}