.header {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 100px;
  height: 60px;
}
.links
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.links .active{
  color: orange;
  font-size: 30px;
}