#flexContainer
{
    display: flex;
    justify-content: space-between;
}

#button1
{
    background-color: white;
    color: black;
    width: 150px;
    height: 45x;
    font-family: 'Press Start 2P', cursive;
}

#para1
{
    color: white;
}

body{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}

#flexContainer1
{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#flexContainer2
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#flexContainer3
{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Press Start 2P', cursive;
    color: white;
}


#input1
{
    background-color: black;
    border: 3px solid white;
    width: ;
}